body {
    margin: 0;
    background: #1e1e1e;
    font-family: Arial, sans-serif;
    color: #fff;
}

.app {
    display: flex;
    height: 100vh;
}

/* ==== ЛЕВО — ГРУППЫ ==== */
.groups-panel {
    width: 20%;
    background: #252525;
    padding: 10px;
    border-right: 2px solid #333;
}

.groups-panel h2 {
    margin: 5px 0;
}

.groups-panel input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background: #333;
    border: none;
    color: white;
}

.groups-panel button {
    width: 100%;
    padding: 8px;
    background: #444;
    border: none;
    color: white;
    cursor: pointer;
}

#groupList div {
    padding: 8px;
    background: #333;
    margin-bottom: 5px;
    cursor: pointer;
}

/* ==== СЕРЕДИНА — ЧАТ ==== */
.chat-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background: #2c2c2c;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-small {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: gray;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    background: #333;
    width: fit-content;
    border-radius: 6px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background: #222;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    background: #333;
    border: none;
    color: white;
}

.chat-input button {
    padding: 8px 12px;
    background: #555;
    border: none;
    cursor: pointer;
    color: white;
}

/* ==== ПРАВО — КОНТАКТЫ ==== */
.contacts-panel {
    width: 25%;
    background: #252525;
    padding: 10px;
    border-left: 2px solid #333;
}

.contacts-panel input {
    width: 100%;
    padding: 8px;
    background: #333;
    border: none;
    color: white;
}

#searchResults div, #contactsList div {
    padding: 8px;
    background: #333;
    margin-top: 5px;
    cursor: pointer;
}
