body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: #fff;
}

.hidden { display: none; }

.auth {
    width: 300px;
    margin: 100px auto;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.auth input {
    width: 100%;
    margin: 6px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#app {
    display: flex;
    height: 100vh;
}

/* ---- ЛЕВО (Группы) ---- */

.sidebar {
    width: 25%;
    background: #181818;
    padding: 15px;
    border-right: 3px solid #202020;
    display: flex;
    flex-direction: column;
}

.groupCreate {
    display: flex;
}

.groupCreate input {
    flex: 1;
    padding: 8px;
}

.groupCreate button {
    width: 40px;
}

.groupList div {
    padding: 10px;
    margin-top: 5px;
    background: #262626;
    border-radius: 6px;
    cursor: pointer;
}

/* ---- ЧАТЫ ---- */

.chat {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.chatHeader {
    padding: 15px;
    font-size: 20px;
    background: #1c1c1c;
    border-bottom: 3px solid #202020;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chatInput {
    display: flex;
    padding: 10px;
    background: #1c1c1c;
}

.chatInput input {
    flex: 1;
    padding: 10px;
}

.chatInput button {
    width: 50px;
}

/* ---- ПРАВО (Контакты) ---- */

.contacts {
    width: 25%;
    background: #181818;
    padding: 15px;
    border-left: 3px solid #202020;
}

.profileBox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profileBox img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* ---- Попап для редактирования ---- */

.modal {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
}

/* ---- МОБИЛЬНАЯ АДАПТАЦИЯ ---- */
@media (max-width: 900px) {
    #app {
        flex-direction: column;
    }

    .sidebar, .contacts {
        width: 100%;
        height: auto;
        border: none;
    }

    .chat {
        width: 100%;
        height: 70vh;
    }
}
